// VARIABLES

$Green: hsl(75, 94%, 57%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$Dark-grey: hsl(0, 0%, 12%);
$Off-Black: hsl(0, 0%, 8%);

body {
    background-color: $Off-Black;
    font-family: inter;
    margin: 0;
    .container {
        background-color: $Dark-grey;
        width: 380px;
        margin: auto;
        text-align: center;
        border-radius: 15px;
        margin-top: 75px;
        .box-image,
        .box-title,
        .box-description,
        .box-links {
            margin: auto;
            padding: 0 25px;
        }
        .box-image{
            padding-top: 30px;
            img {
                height: 100px;
                border-radius: 90px;
            }
        }
        .box-title{
            padding-top: 20px;
            h1 {
                font-size: 26px;
                font-weight: 600;
                color: $White;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                color: $Green;
            }
        }
        .box-description{
            padding-top: 20px;
            p {
                font-weight: 400;
                color: $White;
            }
        }
        .box-links{
            padding: 15px 40px;
            div {
                padding: 10px;
                button {
                    background-color: $Grey;
                    font-weight: 700;
                    width: 100%;
                    height: 45px;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    a {
                        color: $White;
                        text-decoration: none;
                    }
                }
                button:hover {
                    background-color: $Green;
                    cursor: pointer;
                    transition: all 0.7s;
                }
            }
        }
    }
    .attribution {
        color: $White;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}